<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Vive la Experiencia</title>
    <link rel="stylesheet" href="estilos/estilo.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <header id="cabecera">
      <a href="index.html"><img id="imagen" src="images/ruta.png" height="70"></a>
    </header>
    <nav id="navegacion">
      <p id="textvive">Vive la experencia</p>
    </nav>
    <aside id="costado">
      <div id="menuplayas">
        <p id="principales">PRINCIPALES PLAYAS</p>
        <ul>
          <li><a href="bahia.html">Playa Bahía Principal</a></li>
          <li><a href="carrizalillo.html">Playa Carrizalillo</a></li>
          <li><a href="angelito.html">Playa Puerto Angelito</a></li>
          <li><a href="marinero.html">Playa Marinero</a></li>
          <li><a href="manzanillo.html">Playa Manzanillo</a></li>
          <li><a href="zicatela.html">Playa Zicatela</a></li>
          <li><a href="bacocho.html">Playa Bacocho</a></li>
          <li><a href="colorada.html">Playa Colorada</a></li>
        </ul>
      </div>
    </aside>
    <blog>
      <footer id="pie">
     <a href="https://www.facebook.com/MunicipiodeSanPedroMixtepec?fref=ts"  target="_blank"><img id="facebook" src="images/logoo.png" width="35" height="35"></a>
   </footer>
  </body>
</html>
